<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('components/header') %>
   <title>Document</title>
</head>
<body>
   <%- include('components/navbar') %>
   <main>
      <div class="container-lg">
         <table class="table">
            <thead>
               <tr>
                  <th>ห้อง</th>
                  <th>ชื่อ</th>
                  <th>ราคา</th>
                  <th>เลข</th>
               </tr>
            </thead>

            <tbody>
            <% users.map(user => { %>
               <tr>
                  <td>
                     <%= user.room %>
                  </td>
                  <td>
                     <%= user.fname %>
                  </td>
                  <td>
                     <%= user.room %>
                  </td>
                  <td>
                     <%= user.miter[0].miter %>
                  </td>
               </tr>
            <% }) %>
            </tbody>
         </table>
      </div>
   </main>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>